$black: hsl(0 0% 5%);
$white: hsl(0 0% 95%);

$grey: hsl(0 0% 35%);

$blue: hsl(240 70% 50%);

// SRM SCALE
$srm-1: #f8f4b4;
$srm-2: #f9e06c;
$srm-3: #f4ce51;
$srm-4: #f3bf38;
$srm-5: #eead1f;
$srm-6: #e69b19;
$srm-7: #e08f17;
$srm-8: #d6801a;
$srm-9: #d1731c;
$srm-10: #bd581c;
$srm-11: #c3621c;
$srm-12: #ca6b1b;
$srm-13: #c05723;
$srm-14: #ad4417;
$srm-15: #ae4718;
$srm-16: #ad4417;
$srm-17: #a73d15;
$srm-18: #a33b16;
$srm-19: #9e3516;
$srm-20: #983012;
$srm-21: #932a13;
$srm-22: #8f2515;
$srm-23: #8a2616;
$srm-24: #832114;
$srm-25: #7d2111;
$srm-26: #77210e;
$srm-27: #731d0a;
$srm-28: #70180c;
$srm-29: #6a160c;
$srm-30: #67120b;
$srm-31: #65100d;
$srm-32: #5f0f09;
$srm-33: #5c0c0b;
$srm-34: #57080c;
$srm-35: #53080c;
$srm-36: #4b090b;
$srm-37: #470e0e;
$srm-38: #400c0f;
$srm-39: #3a0c0f;
$srm-40: #240b0b;
