$font-xs: 12px;
$font-small: 14px;
$font-base: 16px;
$font-large: 18px;
$font-xxl: 20px;
$font-xxxl: 24px;
$font-xxxxl: 30px;
$font-xxxxxl: 36px;
$font-xxxxxxl: 48px;
$font-xxxxxxxl: 60px;
$font-xxxxxxxxl: 72px;
